@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
  z-index: 1000;
}

.fpl-button {
  background-color: #2CE3A6;
  color: black;
}

.fpl-dropdown {
  background-color: transparent;
  border: none;
}

.fpl-dropdown option {
  background-color: black;
  border: none;
}

.bg-light-gray {
  background-color: rgba(46, 50, 58, 0.6);
}

.fpl-purple-btn {
  background-color: #7f56f1;
}

.fpl-cancel-btn {
  background-color: #f27557;
}

.oc-logo {
  font-family: "Manrope";
  font-weight: bold;
}

.bg-panel {
  background-color: rgba(36, 37, 41, 0.9);
}

.active-tab {
  border-bottom: 4px #2CE3A6 solid;
}

.toast-panel-success {
  background-color: #2CE3A6;
}

.toast-panel-error {
  background-color: #f27557;
}

.inactive-btn {
  background-color: black;
  color: white;
}

.modal {
  /* other styles */
  position: fixed !important; /* or absolute */
  z-index: 9999 !important; /* Arbitrary high number */
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.toast{
  background-color: #2CE3A6 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-radius: 4px !important;
}
