
  .club-badge-col{
    flex-basis: 25%;
    display: flex;
  }
  
  .club-total-players-col{
    flex-basis: 25%;
  }
  
  .club-position-col{
    flex-basis: 25%;
  }
  
  .club-points-col{
    flex-basis: 25%;
  }
  
  .club-divider-1 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 22%;
    width: 1px;
    background-color: #37393C;
  }
  
  .club-divider-2 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 48%;
    width: 1px;
    background-color: #37393C;
  }
  
  .club-divider-3 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 74%;
    width: 1px;
    background-color: #37393C;
  }
  
  .club-player-number-col{
    flex-basis: 10%;
  }

  .club-player-name-col{
    flex-basis: 30%;
    display: flex;
  }

  .club-player-position-col{
    flex-basis: 20%;
  }

  .club-player-value-col{
    flex-basis: 20%;
  }
  
  .club-player-age-col{
    flex-basis: 20%;
  }

  .player-list-flag{
    width: 16px;
    margin-right: 4px;
  }
  
/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
  .club-player-number-col{
    flex-basis: 10%;
  }
  .club-player-name-col{
    flex-basis: 45%;
  }
  .club-player-position-col{
    flex-basis: 15%;
  }
  .club-player-value-col{
    flex-basis: 15%;
  }
  .club-player-age-col{
    flex-basis: 15%;
  }
  
  .club-detail-badge{
    width: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
  .club-detail-badge{
    width: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .club-detail-badge{
    width: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .club-detail-badge{
    width: 36px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .club-detail-badge{
    width: 40px;
  }

}

/* added */
@media only screen and (min-width: 1500px) {
        
  .club-player-number-col{
    flex-basis: 10%;
  }
  .club-player-name-col{
    flex-basis: 30%;
    display: flex;
  }
  .club-player-position-col{
    flex-basis: 20%;
  }
  .club-player-value-col{
    flex-basis: 20%;
  }
  .club-player-age-col{
    flex-basis: 20%;
  }
  .club-detail-badge{
    width: 48px;
  }
}
