
.filter-dropdown-btn{
    border:none;
    font-size: 18px;
    font-weight: 400;
}

.vertical-flex{
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.stat-row-1{
    min-height: 20px;
    margin-left: 0;
    margin-right: 0;
}

.stat-row-2{
    min-height: 40px;
    margin-left: 0;
    margin-right: 0;
}

.stat-row-3{
    min-height: 20px;
    margin-left: 0;
    margin-right: 0;
}

.stat-header{
    width:100%;
    font-size: 16px;
    margin-bottom: 0;
    color: #B1B1B1;
    font-weight: 400;
}   

.stat{
    width:100%;
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 500;
}

.vs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
}

.countdown{
    height: 100%;
    align-items: center;
}

.table-row {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: #454B56 1px solid !important;
  padding-left: 32px;
}

.add-colon::after {
  content: ":";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.add-colon {
  position: relative;
}

.fpl-btn{
    background-color: #2CE3A6 !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 2px !important;
    color: black !important;
};

.filter-row{
  margin-left: 32px;
  height: 72px;
}

.card-header{
    position: relative;
      background-color: rgba(46, 50, 58, 0.6);
      color: white !important;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      height: 46px;
      line-height: 46px; 
      padding: 0 !important;
  }

  
.button-container {
    display: flex;
    gap: 16px;
    margin-right: 32px;
  }
  
  .card-arrow{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 24px;
    color: white;
  }

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .view-container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .stat{
        font-size: 16px;
    }
    .pad-right{
        padding-left: 20px;
    }
    .combined-icon{
        width: 30px;
        height: 30px;
    }
    .stat-panel{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px;
    }
    .stat-header{
        font-size: 8px;
    }
    .vs{
        font-size: 18px;
    }
    .filter-dropdown-btn{
        font-size: 8px;
        padding: 0;
    }
    
    .fpl-btn{
        width: 22px !important;
        height: 22px !important;
        padding: 0 !important;
        border-radius: 2px !important;
    };
    .left-arrow{
        margin-right: 4px;
    }
    .right-arrow{
        margin-left: 4px;
        margin-right: 4px;
    }

    .filter-row{
      margin-left: 4px;
      height: 36px;
    }


    .table-row {
      height: 40px;
      padding-left: 16px;
    }

    .arrow-left-icon{
        width: 8px;
        height: 8px;
    }

    .arrow-right-icon{
        width: 8px;
        height: 8px;
    }

    
.card-header{
    font-size: 10px;
    height: 30px;
    line-height: 30px; 
}

.button-container {
    gap: 16px;
    margin-right: 16px;
  }
  
  .card-arrow{
    font-size: 16px;
  }
}

@media only screen and (min-width: 450px) {
    
    .combined-icon{
        width: 40px;
        height: 40px;
    }
    .stat{
        font-size: 20px;
    }
    .stat-header{
        font-size: 12px;
    }
    .left-arrow{
        margin-right: 8px;
    }
    .right-arrow{
        margin-left: 8px;
        margin-right: 8px;
    }
}
  
/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
    .view-container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .stat{
        font-size: 36px;
    }
    .pad-right{
        padding-left: 20px;
    }
    .combined-icon{
        width: 32px;
        height: 32px;
    }
    .stat-panel{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 116px;
    }
    .vs{
        font-size: 24px;
    }
    .stat-header{
        font-size: 12px;
    }
    .filter-dropdown-btn{
        font-size: 12px;
        padding: 0;
    }

    .table-row {
      height: 50px;
      padding-left: 16px;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .view-container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .stat{
        font-size: 36px;
    }
    .pad-right{
        padding-left: 20px;
    }
    .combined-icon{
        width: 48px;
        height: 48px;
    }
    .stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 124px;
    }
    .vs{
        font-size: 24px;
    }
    .stat-header{
        font-size: 12px;
    }

    .table-row {
      height: 60px;
      padding-left: 16px;
    }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .view-container{
        padding-left: 64px;
        padding-right: 64px;
    }
    .stat{
        font-size: 21px;
    }
    .stat-header{
        font-size: 11px;
    }
    .pad-right{
        padding-left: 20px;
    }
    .combined-icon{
        width: 32px;
        height: 32px;
    }
    .stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 112px;
    }
    .vs{
        font-size: 24px;
    }
    
    .table-row {
        height: 80px;
        padding-left: 32px;
    }
    
    .fpl-btn{
        width: 24px !important;
        height: 24px !important;
        border-radius: 2px !important;
    };
}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .view-container{
        padding-left: 64px;
        padding-right: 64px;
    }
    .stat{
        font-size: 32px;
    }
    .stat-header{
        font-size: 16px;
    }
    .pad-right{
        padding-left: 20px;
    }
    .combined-icon{
        width: 36px;
        height: 36px;
    }
    .stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 136px;
    }
    .vs{
        font-size: 28px;
    }
}
  
/* added */
@media only screen and (min-width: 1500px) {
    
    .view-container{
        padding-left: 64px;
        padding-right: 64px;
    }
    .stat{
        font-size: 48px;
    }
    .stat-header{
        font-size: 16px;
    }
    .pad-right{
        padding-left: 30px;
    }
    .combined-icon{
        width: 60px;
        height: 60px;
    }
    .stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 158px;
    }
    

.card-header{
    font-size: 18px;
      letter-spacing: 0.5px;
      height: 46px;
      line-height: 46px; 
  }

  
.button-container {
    gap: 16px;
    margin-right: 32px;
  }
  
  .card-arrow{
    font-size: 24px;
  }
}
  
/* 4K and large screens */
@media only screen and (min-width: 1920px) {
    .view-container{
        padding-left: 128px;
        padding-right: 128px;
    }
    .stat{
        font-size: 48px;
    }
    .stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 158px;
    }
    .pad-right{
        padding-left: 40px;
    }
}
  