.fixture-caret::before {
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.fixture-unplayed::before {
  background-color: #C2C3C4;
}

.fixture-active::before {
  background-color: #2C8BE3;
}

.fixture-consensus::before {
  background-color: #2CE3A6;
}

.fixture-verified::before {
  background-color: #7F56F1;
}

.fixture-pregame::before {
  background-color: #EF857F;
}

.fixture-team-name{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.badge-icon{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

  
.col-home-team,
.col-away-team,
.col-vs,
.col-time,
.col-badge {
    flex: 0 0 auto;
}

.col-home-team {
    width: 22.5%;
}

.col-vs {
    width: 5%;
}

.col-vs p, .col-time p, .col-badge p{
  margin: 0 !important;
}

.col-away-team {
    margin-left: 10%;
    width: 22.5%;
}

.col-time {
    width: 30%;
    text-align: center;
}

.col-badge {
    width: 10%;
}

.status-text {
  position: relative;
  padding-left: 16px; 
}

.clock-icon{
    margin-right: 10px;
    height: 20px;
    height: 20px;
}

.date-row {
  height: 46px;
  padding-left: 32px;
  border-top: 1px solid #454B56;
  border-bottom: 1px solid #454B56;
  background-color: #2E323A;
}

.date-header{
  font-family: 600 !important;
  margin: 0 !important;
  width: 100%;
}

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 43.5%;
    }

    .col-vs {
        width: 5%;
        padding: 0;
    }

    .col-away-team {
        margin-left: 7.5%;
        width: 45%;
    }

    .col-time {
        width: 0%;
        display: none;
    }

    .col-badge {
        width: 0%;
        display: none;
    }
    .badge-icon{
      width: 13px;
      height: 13px;
      margin-right: 4px;
    }

    .clock-icon{
        margin-right: 2px;
        height: 8px;
    }

    .status-text {
      position: relative;
      padding-left: 8px;
    }

    .date-row {
      height: 36px;
      padding-left: 16px;
      border-top: 1px solid #454B56;
      border-bottom: 1px solid #454B56;
    }

    .date-header{
      font-family: 600 !important;
      margin: 0 !important;
      width: 100%;
    }
}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
  .badge-icon{
      width: 16px;
      height: 16px;
      margin-right: 4px;
  }

  .clock-icon{
      margin-right: 2px;
      height: 9px;
  }

  .status-text {
      padding-left: 12px;
  }

  .date-row {
      height: 38px;
      padding-left: 18px;
  }

}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {

  .badge-icon{
      width: 18px;
      height: 18px;
      margin-right: 4px;
  }

  .clock-icon{
      margin-right: 2px;
      height: 10px;
  }

  .status-text {
      padding-left: 14px;
  }

  .date-row {
      height: 40px;
      padding-left: 20px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .badge-icon{
      width: 20px;
      height: 20px;
      margin-right: 4px;
  }

  .clock-icon{
      margin-right: 2px;
      height: 11px;
  }

  .status-text {
      padding-left: 18px;
  }

  .date-row {
      height: 42px;
      padding-left: 24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .badge-icon{
      width: 22px;
      height: 22px;
      margin-right: 4px;
  }

  .clock-icon{
      margin-right: 2px;
      height: 12px;
  }

  .status-text {
      padding-left: 22px;
  }

  .date-row {
      height: 44px;
      padding-left: 28px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
  }

  .clock-icon{
      margin-right: 2px;
      height: 13px;
  }

  .status-text {
      padding-left: 26px;
  }

  .date-row {
      height: 45px;
      padding-left: 30px;
  }

}

  /* added */
  @media only screen and (min-width: 1500px) {
        
    .date-row {
      height: 46px;
      padding-left: 32px;
    }
  }
