

.fixture-caret::before {
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.fixture-unplayed::before {
    background-color: #C2C3C4;
  }
  
  .fixture-active::before {
    background-color: #2C8BE3;
  }
  
  .fixture-consensus::before {
    background-color: #2CE3A6;
  }
  
  .fixture-verified::before {
    background-color: #7F56F1;
  }
  
  .fixture-pregame::before {
    background-color: #EF857F;
  }

.fixture-team-name{
    font-weight: 600;
    font-size: 18px;
}

.badge-icon{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

  
.col-home-team,
.col-away-team,
.col-vs,
.col-time,
.col-badge {
    flex: 0 0 auto;
}

.col-home-team {
    width: 22.5%;
}

.col-vs {
    width: 5%;
}

.col-away-team {
    margin-left: 10%;
    width: 22.5%;
}

.col-time {
    width: 30%;
    text-align: center;
}

.col-badge {
    width: 10%;
}

.status-text {
  position: relative;
  padding-left: 16px; 
}

.clock-icon{
    margin-right: 10px;
    height: 20px;
    height: 20px;
}

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 10px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 45%;
    }

    .col-vs {
        width: 5%;
        font-size: 8px;
        padding: 0;
    }

    .col-away-team {
        width: 45%;
    }

    .col-time {
        width: 0%;
        display: none;
    }

    .col-badge {
        width: 0%;
        display: none;
    }
    .badge-icon{
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }

    .clock-icon{
        margin-right: 2px;
        height: 8px;
        height: 8px;
    }

    .status-text {
      position: relative;
      padding-left: 8px; 
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 12px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 27.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 20%;
        text-align: center;
        font-size: 12px;
    }

    .col-badge {
        width: 20%;
        font-size: 12px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 601px and up) */
  @media only screen and (min-width: 601px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 12px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 27.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 20%;
        text-align: center;
        font-size: 12px;
    }

    .col-badge {
        width: 20%;
        font-size: 12px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 12px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 27.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 20%;
        text-align: center;
        font-size: 12px;
    }

    .col-badge {
        width: 20%;
        font-size: 12px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 14px;
    }
    .badge-icon{
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
    
    .status-text {
        padding-left: 8px; 
        font-size: 14px;
    }

    .fixture-caret::before {
        width: 2px;
    }

        
    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 25%;
        text-align: center;
    }

    .col-badge {
        width: 15%;
    }
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 18px;
    }
    .fixture-caret::before {
        width: 3px;
    }
    
    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 30%;
        text-align: center;
    }

    .col-badge {
        width: 10%;
    }
    .status-text {
        padding-left: 10px; 
        font-size: 16px;
    }
  }
  /* added */
  @media only screen and (min-width: 1500px) {
    .fixture-team-name{
      font-weight: 600;
      font-size: 16px;
    }
    .fixture-caret::before {
        width: 4px;
    }
    
    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 30%;
        text-align: center;
    }

    .col-badge {
        width: 10%;
    }
  }
  
  /* 4K and large screens */
  @media only screen and (min-width: 1920px) {
    .fixture-caret::before {
        width: 5px;
    }

    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 30%;
        text-align: center;
    }

    .col-badge {
        width: 10%;
    }
  }
