.fixture-caret::before {
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.fixture-unplayed::before {
  background-color: #C2C3C4;
}

.fixture-active::before {
  background-color: #2C8BE3;
}

.fixture-consensus::before {
  background-color: #2CE3A6;
}

.fixture-verified::before {
  background-color: #7F56F1;
}

.fixture-pregame::before {
  background-color: #EF857F;
}

.fixture-team-name{
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.badge-icon{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

  
.col-home-team,
.col-away-team,
.col-vs,
.col-time,
.col-badge {
    flex: 0 0 auto;
}

.col-home-team {
    width: 22.5%;
}

.col-vs {
    width: 5%;
}

.col-vs p, .col-time p, .col-badge p{
  margin: 0 !important;
}

.col-away-team {
    margin-left: 10%;
    width: 22.5%;
}

.col-time {
    width: 30%;
    text-align: center;
}

.col-badge {
    width: 10%;
}

.status-text {
  position: relative;
  padding-left: 16px; 
}

.clock-icon{
    margin-right: 10px;
    height: 20px;
    height: 20px;
}

.date-row {
  height: 46px;
  padding-left: 32px;
  border-top: 1px solid #454B56;
  border-bottom: 1px solid #454B56;
  background-color: #2E323A;
}

.date-header{
  font-family: 600 !important;
  font-size: 12px !important;
  margin: 0 !important;
  width: 100%;
}

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .fixture-team-name{
        font-size: 10px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    .col-home-team {
        width: 43.5%;
    }

    .col-vs {
        width: 5%;
        font-size: 8px;
        padding: 0;
    }

    .col-away-team {
        margin-left: 7.5%;
        width: 45%;
    }

    .col-time {
        width: 0%;
        display: none;
        font-size: 10px;
    }

    .col-badge {
        width: 0%;
        display: none;
    }
    .badge-icon{
      width: 13px;
      height: 13px;
      margin-right: 4px;
    }

    .clock-icon{
        margin-right: 2px;
        height: 8px;
    }

    .status-text {
      position: relative;
      padding-left: 8px; 
      font-size: 10px;
    }

    .date-row {
      height: 36px;
      padding-left: 16px;
      border-top: 1px solid #454B56;
      border-bottom: 1px solid #454B56;
    }

    .date-header{
      font-family: 600 !important;
      font-size: 8px !important;
      margin: 0 !important;
      width: 100%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
    .fixture-team-name{
        font-weight: 600;
        font-size: 10px;
    }
    .badge-icon{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
 
    
    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
        font-size: 12px;
    }

    .col-away-team {
        margin-left: 5%;
        width: 22.5%;
    }

    .col-time {
        margin-left: 2.5%;
        width: 22.5%;
        text-align: center;
        display: flex;
    }

    .col-badge {
        width: 10%;
        display: flex;
        font-size: 12px;
    }

    .badge-icon{
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }

    .clock-icon{
        margin-right: 4px;
        height: 10px;
    }

    .status-text {
      position: relative;
      padding-left: 8px; 
    }

    .date-row {
      height: 36px;
      padding-left: 16px;
      border-top: 1px solid #454B56;
      border-bottom: 1px solid #454B56;
    }

    .date-header{
      font-family: 600 !important;
      font-size: 8px !important;
      margin: 0 !important;
      width: 100%;
    }

    .status-text {
        padding-left: 12px; 
    }

    .filter-row{
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: 20px;
    }
    
    .badge-icon{
      width: 22px;
      height: 22px;
      margin-right: 6px;
    }

    .clock-icon{
        margin-right: 6px;
        height: 12px;
    }
    
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .fixture-team-name{
      font-size: 12px;
    }
      
    .status-text {
      font-size: 12px;
    }
    
    .col-time {
      font-size: 12px;
    }
  
    .badge-icon{
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }

    .clock-icon{
        margin-right: 8px;
        height: 16px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
      
    .fixture-team-name{
      font-size: 14px;
    }

    .badge-icon{
      width: 40px;
      height: 40px;
      margin-right: 14px;
    }
      
    .status-text {
      padding-left: 14px; 
    }

    .clock-icon{
        margin-right: 10px;
        height: 20px;
    }

    .date-row {
      height: 46px;
      padding-left: 34px;
    }

    .date-header{
      font-size: 12px !important;
    }

    .col-vs{
      font-size: 14px;
      width: 5%;
    }

    .col-time{
      font-size: 14px;
      margin-left: 2.5%;
      width: 20%;
    }

    .col-badge{
      font-size: 14px;
      width: 10%;
    }
    
    .col-home-team {
      width: 22.5%;
    }

    .col-away-team {
        margin-left: 5%;
        width: 25%;
    }
  
    .badge-icon{
      width: 36px;
      height: 36px;
      margin-right: 12px;
    }

    .clock-icon{
        margin-right: 8px;
        height: 16px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
    .col-home-team {
        width: 22.5%;
    }

    .col-vs {
        width: 5%;
    }

    .col-away-team {
        margin-left: 10%;
        width: 22.5%;
    }

    .col-time {
        width: 20%;
    }

    .col-badge {
        width: 10%;
    }

    .status-text {
      padding-left: 16px; 
    }

    .clock-icon{
        margin-right: 10px;
        height: 20px;
    }

    .date-row {
      height: 46px;
      padding-left: 32px;
    }

    .date-header{
      font-size: 12px !important;
    }
        
    .fixture-team-name{
      font-size: 17px;
    }

    .badge-icon{
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }
  }
  /* added */
  @media only screen and (min-width: 1500px) {
        
    .fixture-team-name{
      font-size: 18px;
    }

    .col-time{
      font-size: 16px;
    } 
    
    .status-text{
      font-size: 16px;
    }

    .date-row {
      height: 46px;
      padding-left: 32px;
    }
  }
  
  /* 4K and large screens */
  @media only screen and (min-width: 1920px) {
    
  }
