
.gw-points-position-col{
    flex-basis: 5%;
  }
  .gw-points-name-col{
    flex-basis: 10%;
  }
  .gw-points-club-col{
    flex-basis: 20%;
  }
  .gw-points-appearances-col{
    flex-basis: 5%;
  }
  .gw-points-highest-scoring-col{
    flex-basis: 5%;
  }
  .gw-points-goals-col{
    flex-basis: 5%;
  }
  .gw-points-assists-col{
    flex-basis: 5%;
  }
  .gw-points-pen-saves-col{
    flex-basis: 5%;
  }
  .gw-points-clean-sheets-col{
    flex-basis: 5%;
  }
  .gw-points-saves-col{
    flex-basis: 5%;
  }
  .gw-points-yellow-cards-col{
    flex-basis: 5%;
  }
  .gw-points-own-goals-col{
    flex-basis: 5%;
  }
  .gw-points-goals-conceded-col{
    flex-basis: 5%;
  }
  .gw-points-missed-pen-col{
    flex-basis: 5%;
  }
  .gw-points-red-card-col{
    flex-basis: 5%;
  }
  .gw-points-bonus-col{
    flex-basis: 5%;
  }
  .gw-points-points-col{
    flex-basis: 5%;
  }
  
  .gw-table-header{
    font-weight: 600;
  }
  
  .gw-table-col{
    font-weight: 400;
  }
  
  .gw-bonus-image{
    width: 16px;
    height: 16px;
  }



  .gw-total-points-wrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
}
  .gw-total-points{
    font-weight: 500;
    margin-right: 16px;
  }

  .gameweek-points-flag{
    width: 16px;
    margin-right: 4px;
  }

  .gw-points-badge-icon{
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  
    /* Extra small devices (phones, 321px and up) */
    @media only screen and (min-width: 321px) {
                
        .gw-points-position-col{
            flex-basis: 20%;
        }
        .gw-points-name-col{
            flex-basis: 60%;
        }
        .gw-points-points-col{
            flex-basis: 20%;
        }

        .gw-points-club-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-appearances-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-highest-scoring-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-goals-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-assists-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-pen-saves-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-clean-sheets-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-saves-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-yellow-cards-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-own-goals-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-goals-conceded-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-missed-pen-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-red-card-col{
            flex-basis: 0%;
            display: none;
        }
        .gw-points-bonus-col{
            flex-basis: 0%;
            display: none;
        }
        
        .gw-table-header{
            font-weight: 600;
        }
        
        .gw-table-col{
            font-weight: 400;
        }
        
        .gw-bonus-image{
            width: 16px;
            height: 16px;
        }

        .gw-total-points{
            font-weight: 500;
        }

        .gameweek-points-flag{
            width: 16px;
            margin-right: 4px;
        }
    }
    
    /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
    
    .gw-table-header{
        font-weight: 600;
    }
    
    .gw-table-col{
        font-weight: 400;
    }

    .gw-bonus-image{
        width: 17px;
        height: 17px;
    }

    .gw-total-points{
        font-weight: 500;
    }

    .gameweek-points-flag{
        width: 17px;
        margin-right: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
    
    .gw-table-header{
        font-weight: 600;
    }

    .gw-table-col{
        font-weight: 400;
    }

    .gw-bonus-image{
        width: 18px;
        height: 18px;
    }

    .gw-total-points{
        font-weight: 500;
    }

    .gameweek-points-flag{
        width: 18px;
        margin-right: 6px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .gw-table-header{
        font-weight: 600;
    }

    .gw-table-col{
        font-weight: 400;
    }

    .gw-bonus-image{
        width: 19px;
        height: 19px;
    }

    .gw-total-points{
        font-weight: 500;
    }

    .gameweek-points-flag{
        width: 19px;
        margin-right: 7px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .gw-table-header{
        font-weight: 600;
    }

    .gw-table-col{
        font-weight: 400;
    }

    .gw-bonus-image{
        width: 20px;
        height: 20px;
    }

    .gw-total-points{
        font-weight: 500;
    }

    .gameweek-points-flag{
        width: 19px;
        margin-right: 7.5px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .gw-table-header{
        font-weight: 600;
    }

    .gw-table-col{
        font-weight: 400;
    }

    .gw-bonus-image{
        width: 21px;
        height: 21px;
    }

    .gw-total-points{
        font-weight: 500;
    }

    .gameweek-points-flag{
        width: 20px;
        margin-right: 7.5px;
    }
}

    /* added */
    @media only screen and (min-width: 1500px) {
                
        .gw-table-header{
            font-weight: 600;
        }
        
        .gw-bonus-image{
            width: 22px;
            height: 22px;
        }
        

  .gameweek-points-flag{
    width: 20px;
    margin-right: 8px;
  }

    }
