.logo-icon{
    width: 30px;
    height: 30px;
    margin-right: 4px;
}


.navbar{
    background-color: rgba(36, 37, 41, 0.9);
    height: 80px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 9998 !important;
  }
    
  .nav-link {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #C2C3C4 !important;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .custom-nav-link {
    position: relative;
    width: fit-content;
    line-height: 80px;
    font-size: 18px;
    font-weight: 400;
  }
  
  .nav-caret {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2CE3A6;
  }

  .navbar-toggler{
    color: white !important;
  }


  
/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .footer-links {
        font-size: 10px;
    }
    .footer-link {
        font-size: 10px;
    }
    .social-icon {
        width: 12px;
        height: 12px;
        margin: 0 4px;
    }
    
    .footer-sponsor-image{
        width: 36px;
    }
    
    .navbar{
        height: 60px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    .navbar-collapse{
        background-color: rgba(36, 37, 41, 1);
        border-radius: 8px;
        border: 2px solid #454B56;
        padding: 4px;
    }

    .nav-profile-image{
        width: 20px;
        margin-left: 8px;
    }

    
    .custom-nav-link {
        line-height: 40px;
        font-size: 12px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
    .footer-links {
        font-size: 12px;
    }
    .footer-link {
        font-size: 12px;
    }
    .social-icon {
        width: 16px;
        height: 16px;
        margin: 0 6px;
    }
    
    .footer-sponsor-image{
        width: 60px;
    }
    
    .navbar{
        height: 60px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    .navbar-collapse{
        background-color: rgba(36, 37, 41, 1);
        border-radius: 8px;
        border: 2px solid #454B56;
        padding: 4px;
    }

    .nav-profile-image{
        width: 30px;
        margin-left: 16px;
    }
    
    .custom-nav-link {
        line-height: 50px;
        font-size: 16px;
    }
}
  
/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .navbar-collapse{
        background-color: unset;
        border-radius: unset;
        border: unset;
        padding: unset;
    }
    .nav-profile-image{
      width: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* added */
@media only screen and (min-width: 1500px) {

}

/* 4K and large screens */
@media only screen and (min-width: 1920px) {

}
