
.home-tab-header {
  padding-left: 30px;
  padding-right: 30px;
  height: 55px;
}

.home-tab-header .nav-link {
  height: 55px;
  font-size: 18px;
  margin-right: 20px;
}
  
.home-gameweek-col {
    flex-basis: 33%;
}
  
.home-managers-col {
    flex-basis: 33%;
}
  
.home-prize-col {
    flex-basis: 33%;
}
  
.home-deadline-col {
    flex-basis: 50%;
}
  
.home-fixture-col {
    flex-basis: 50%;
}

.home-divider-1 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 28%;
    width: 1px;
    background-color: #37393C;
  }
  
  .home-divider-2 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 61%;
    width: 1px;
    background-color: #37393C;
  }
  
  .home-divider-3 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 50%;
    width: 1px;
    background-color: #37393C;
  }

  /* Extra small devices (phones, 321px and up) */
  @media only screen and (min-width: 321px) {
    .vs{
      font-size: 10px;
    }
    .home-gameweek-col {
        padding-left: 20px;
    }
    
    .home-tab-header {
      padding-left: 2px;
      padding-right: 2px;
      height: 40px;
    }

    .home-tab-header .nav-link {
      height: 40px;
      font-size: 8px;
      margin-right: 0px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 601px and up) */
  @media only screen and (min-width: 601px) {
        .vs{
          font-size: 12px;
        }
        .home-gameweek-col {
            padding-left: 20px;
        }
        
        .home-tab-header {
          padding-left: 20px;
          padding-right: 20px;
          height: 40px;
        }

        .home-tab-header .nav-link {
          height: 40px;
          font-size: 12px;
          margin-right: 10px;
        }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
    .vs{
      font-size: 14px;
    }
    .home-gameweek-col {
        padding-left: 20px;
    }
        
    .home-tab-header {
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
    }
    .home-tab-header .nav-link {
      height: 40px;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .vs{
      font-size: 16px;
    }
    .home-gameweek-col {
        padding-left: 25px;
    }
    .home-tab-header {
      padding-left: 20px;
      padding-right: 20px;
      height: 50px;
    }
    .home-tab-header .nav-link {
      height: 50px;
      font-size: 16px;
      margin-right: 15px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
    .vs{
      font-size: 18px;
    }
    .home-gameweek-col {
        padding-left: 20px;
    }
        
    .home-tab-header {
      padding-left: 30px;
      padding-right: 30px;
      height: 55px;
    }
    .home-tab-header .nav-link {
      height: 55px;
      font-size: 18px;
      margin-right: 20px;
    }
  }
  /* added */
  @media only screen and (min-width: 1500px) {
      
    .home-gameweek-col {
        padding-left: 40px;
    }
  }
  
  /* 4K and large screens */
  @media only screen and (min-width: 1920px) {
    .home-gameweek-col {
        padding-left: 40px;
    }
  }
  