  
.home-gameweek-col {
    flex-basis: 33%;
}
  
.home-managers-col {
    flex-basis: 33%;
}
  
.home-prize-col {
    flex-basis: 33%;
}
  
.home-deadline-col {
    flex-basis: 50%;
}
  
.home-fixture-col {
    flex-basis: 50%;
}

.home-divider-1 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 28%;
    width: 1px;
    background-color: #37393C;
  }
  
  .home-divider-2 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 61%;
    width: 1px;
    background-color: #37393C;
  }
  
  .home-divider-3 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 50%;
    width: 1px;
    background-color: #37393C;
  }

  /* Extra small devices (phones, 321px and up) */
  @media only screen and (min-width: 321px) {
     

    .combined-icon{
        width: 25px;
        height: 25px;
    }
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
  
  .combined-icon{
      width: 30px;
      height: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
 
  .combined-icon{
      width: 30px;
      height: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .combined-icon{
      width: 35px;
      height: 35px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .combined-icon{
      width: 40px;
      height: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .combined-icon{
      width: 45px;
      height: 45px;
  }
}

  /* added */
  @media only screen and (min-width: 1500px) {
      
    .combined-icon{
        width: 50px;
        height: 50px;
    }
  }
  