.manager-badge-icon{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.manager-pos-col{
    flex-basis: 33%;
    align-items: center;
    justify-content: center;  
    display: flex;
}

.manager-picture-col{
    flex-basis: 100px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-details-col{
    flex-grow: 1;
}

.manager-detail-row-1{
    height: 100px;
    padding-left: 32px;
}

.manager-detail-row-2{
    height: 168px;
    padding-left: 32px;
}

.manager-display-name-col{
    flex-basis: 30%;
}

.manager-favourite-team-col{
    flex-basis: 70%;
}

.manager-profile-image{
    width: 100px !important;
    height: 100px !important;
    margin-left: 32px;
    border-radius: 8px;
}

.manager-stat-panel{
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    height: 158px;
}

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    .manager-badge-icon{
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    
    .manager-pos-col{
        flex-basis: 33%;
    }
    
    .manager-picture-col{
        flex-basis: 50px;
        margin-right: 16px;
    }
    
    .manager-details-col{
        flex-grow: 1;
    }
    
    .manager-detail-row-1{
        height: 100px;
        padding-left: 0px;
    }
    
    .manager-detail-row-2{
        height: 168px;
        padding-left: 0px;
    }
    
    .manager-display-name-col{
        flex-basis: 100%;
    }
    
    .manager-favourite-team-col{
        flex-basis: 100%;
    }
    
    .manager-profile-image{
        width: 50px !important;
        height: 50px !important;
        margin-left: 8px;
        border-radius: 8px;
    }

    .manager-stat-panel{
        height: 92px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
  
}
  
/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* added */
@media only screen and (min-width: 1500px) {
    .manager-badge-icon{
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    
    .manager-pos-col{
        flex-basis: 33%;
    }
    
    .manager-picture-col{
        flex-basis: 100px;
        margin-right: 16px;
    }
    
    .manager-details-col{
        flex-grow: 1;
    }
    
    .manager-detail-row-1{
        height: 100px;
        padding-left: 32px;
    }
    
    .manager-detail-row-2{
        height: 168px;
        padding-left: 32px;
    }
    
    .manager-display-name-col{
        flex-basis: 30%;
    }
    
    .manager-favourite-team-col{
        flex-basis: 70%;
    }
    
    .manager-profile-image{
        width: 100px !important;
        height: 100px !important;
        margin-left: 32px;
        border-radius: 8px;
    }

    .manager-stat-panel{
        height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 158px;
    }
}

/* 4K and large screens */
@media only screen and (min-width: 1920px) {

}
