
.pick-team-gameweek-col {
    flex-basis: 30%;
  }
  
  .pick-team-deadline-col {
    flex-basis: 40%;
  }
  
  .pick-team-player-count-col {
    flex-basis: 20%;
  }
  
  .pick-team-value-col {
    flex-basis: 35%;
  }
  
  .pick-team-bank-col {
    flex-basis: 35%;
  }
  
  .pick-team-transfers-col {
    flex-basis: 30%;
  }
  
  
  .pick-team-divider-1 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 24%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-2 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 70%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-3 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 32%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-4 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 67%;
    width: 1px;
    background-color: #37393C;
  }

  
.sub-stat-panel{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .sub-stat-wrapper{
    width: 100% !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  
  .sub-stat-button{
    height: 52px !important;
    width: 132px !important;
    color: white !important;
    font-weight: 600 !important;
    background-color: #161819 !important;
  }
  
  .sub-stat-button.active{
    background-color: #2CE3A6 !important;
    color: #161819 !important;
    border: none;
  }
  
  .sub-stat-button-left{
    border-radius: 8px 0px 0px 8px;
    border-color: #37393C !important;
    border-width: 1px 0px 1px 1px;
  }
  
  .sub-stat-button-right{
    border-radius: 0px 8px 8px 0px;
    border-color: #37393C !important;
    border-width: 1px 1px 1x 0px;
  }

    

    .formation-text:hover{
        border: none !important;
    }
    .formation-text{
        font-weight: 400;
        background-color: transparent;
        border: none;
    }


.flex-end{
  justify-content: flex-end;

}
      

.autofill-button{
    width: 161px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-right: 16px;
    font-weight: 600;
    background-color: #7F56F1;
    color: white;
  }
  
  .save-team-button{
    width: 191px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-right: 32px;
    font-weight: 600;
    background-color: #7F56F1;
    color: white;
  }
  
  .save-team-button:disabled, .autofill-button:disabled {
    background-color: #5A5A5A;
  }
  
.sponsor1{
    width: 186.5px !important;
    height: 42px !important;
};

.sponsor2{
    width: 186.5px !important;
    height: 42px !important;
};

.shirt-icon{
    width: 86px;
    height: 88px;
}

.shirt{
  width: 60.69px;
  height: 80px;
}



.player-name-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242529;
    color: white;
    text-align: center;
    padding: 8px;
    height: 32px;
    width: 146px;
    font-weight: 600;
  }
  
  .list-player-name-row {
    display: flex;
  }
  
  .player-info-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #161819;
    display: flex;
    padding: 8px;
    height: 22px;
    width: 146px;
    font-weight: 600;
  }
  
  .list-player-info-row {
    display: flex;
  }
  
  .pitch-team-badge{
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .list-pitch-team-badge{
    margin-right: 4px;
  }
  
  .remove-player-button{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #E32C2C;
  }
  
  .list-remove-player-button{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #E32C2C;
  }
  
  .captain-player-button{
    border: none;
    background-color: transparent;
    padding: 0px;
  }
  
  .shirt-container {
    position: relative;
  }
  
  .left-side-image,
  .right-side-image {
    position: absolute;
    bottom: 0;
  }
  
  .left-side-image {
    left: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-side-image {
    right: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pick-team-badge-icon{
    width: 16px;
    height: 16px;
  }

  .captain-icon{
    width: 23px;
    height: 22px;
  }

    
  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  

.player-details {
  border-radius: 12px;
  overflow: hidden;
  margin-top: 5px; 
}



.player-details-mobile {
  border-radius: 4px;
  overflow: hidden;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bonus-header-text{
  margin-left: 32px;
}



.bonus-image{
  width: 80px;
  height: 80px;
}

.bonus-label{
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.btn-use-bonus{
  background-color: #7F56F1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-weight: 600;
}

.txt-used-bonus{
  background-color: #242529;
  color: white;
  border: solid 1px #37393C;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

.bonus-card:not(:last-child) {
  margin-right: 16px;
}

.bonus-card{
  width: 150px;
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.card-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.pick-team-flag{
  width: 16px;
  margin-right: 4px;
}
.pick-team-flag-row{
  width: 16px;
  margin-right: 4px;
}

.select-player-modal-row {
  height: 72px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(69, 75, 86, 0.8);
  width: 100% !important;
  margin: 0;
}

.select-player-modal-row p {
  font-weight: 400;
}

.select-player-modal-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.modal-table-header {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 600;
  box-sizing: border-box;
  margin: 0;
}




.modal-table-row{
  border-color: rgba(69, 75, 86, 0.8);
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: rgba(46, 50, 58, 0.6);
  height: 46px;
  margin: 0;
}

.modal-position-col{
  flex-basis: 15%;
}
.modal-player-col {
  flex-basis: 25%;
  flex-grow: 0; /* This ensures that the container doesn't grow beyond its flex-basis */
  flex-shrink: 1; /* This allows the container to shrink if necessary */
  overflow: hidden; /* This ensures content does not spill outside */
}
.modal-button-col {
  flex-shrink: 0; /* Prevent shrinking */
}



.modal-team-col,
.modal-value-col {
  flex-basis: 20%;
}

.modal-pts-col {
  flex-basis: 10%;
}

.modal-button-col {
  flex-basis: 10%;
  padding: 0;
}

.add-player-button{
  width: 32px;
  height: 32px;
  background-color: #2CE3A6;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
}


.small-add-player-button{
  width: 32px;
  height: 32px;
  background-color: #2CE3A6;
  border: none;
  border-radius: 4px;
}



.position-col{
  width: 10%;
}

.captain-col{
  width: 10%;
}

.player-col{
  width: 45%;
}

.team-col,
.value-col {
  width: 15%;
}

.button-col {
  width: 5%;
}


.disabled-player-text{
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
        
    .pick-team-gameweek-col {
        flex-basis: 25%;
    }
  
    .pick-team-deadline-col {
        flex-basis: 50%;
    }
    
    .pick-team-player-count-col {
        flex-basis: 25%;
    }
    
    .pick-team-value-col {
        flex-basis: 35%;
    }
    
    .pick-team-bank-col {
        flex-basis: 35%;
    }
    
    .pick-team-transfers-col {
        flex-basis: 30%;
    }

        
    .pick-team-divider-1 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 24%;
        width: 1px;
        background-color: #37393C;
    }
    
    .pick-team-divider-2 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 74%;
        width: 1px;
        background-color: #37393C;
    }

    .formation-wrapper{
        margin-left: 4px;
    }
        
    .sub-stat-panel{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .sub-stat-wrapper{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    
    .sub-stat-button{
        height: 40px !important;
        width: 100px !important;
        padding: 0;
        font-size: 10px;
    }

    .formation-text{
      font-size: 11px;
    }
        
    .autofill-button{
        width: 100px;
        height: 40px;
        border-radius: 8px;
        margin-right: 16px;
    }
    
    .save-team-button{
        width: 100px;
        height: 40px;
        border-radius: 8px;
        margin-right: 32px;
    }

    .sponsor1{
        width: 93.25px !important;
        height: 21px !important;
    };
    
    .sponsor2{
        width: 93.25px !important;
        height: 21px !important;
    }

    .shirt-icon{
        width: 40.85px;
        height: 41.8px;
    }

    .player-name-row {
        height: 16px;
        width: 60px;
        font-size: 8px;
        margin-top: 2px;
        padding: 2px;
    }
    
    .player-info-row {
        padding: 8px;
        height: 12px;
        width: 146px;
        font-size: 8px;
    }
    
    .pitch-team-badge{
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .list-pitch-team-badge{
        margin-right: 4px;
    }
    
    .remove-player-button{
        width: 16px;
        height: 16px;
        border-radius: 2px;
    }

    .remove-player-icon{
      width: 8px;
      height: 8px;
    }
    
    .captain-player-button{
        padding: 0px;
    }
    
    .left-side-image {
        left: -8px;
    }
    
    .right-side-image {
        right: -8px;
    }
    

    .captain-icon{
      width: 16px;
      height: 16px;
    }

    
  
    .row-container {
      padding-left: 1%;
      padding-right: 1%;
    }

    .pick-team-badge-icon{
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }

    .bonus-header-text{
      margin-left: 8px;
    }

        
    .bonus-image{
      width: 40px;
      height: 40px;
    }

    .bonus-label{
      font-size: 8px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .btn-use-bonus{
      border-radius: 8px;
      padding: 8px;
      font-size: 10px;
    }

    .txt-used-bonus{
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      font-size: 8px;
    }

    .bonus-card:not(:last-child) {
      margin-right: 8px;
    }
    
    .bonus-card{
      width: 100px;
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 16px;
      padding-bottom: 8px;
    }

    .card-container {
      padding-left: 8px;
      padding-right: 8px;
    }

        
    .modal-table-header {
      font-size: 8px;
      padding-left: 8px;
    }
        
    .select-player-modal-row {
      height: 36px;
    }
        
    .modal-table-row{
      height: 24px;
    }

    .modal-position-col{
      flex-basis: 15%;
    }
    .modal-player-col {
      flex-basis: 30%;
      padding: 0;
    }

    .modal-team-col,
    .modal-value-col {
      flex-basis: 17.5%;
      padding: 0;
    }

    .modal-pts-col {
      flex-basis: 15%;
      padding: 0;
    }

    .modal-button-col {
      flex-basis: 5%;
      padding: 0;
    }

    .add-player-button{
      width: 32px;
      height: 32px;
      border-radius: 4px;
    }

    .small-add-player-button{
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }

    .small-plus-icon{
      width: 8px;
      height: 8px;
    }

    .position-col{
      width: 15%;
    }

    .captain-col{
      width: 15%;
    }

    .player-col{
      width: 35%;
    }
    
    .team-col{
      width: 20%;
    }

    .value-col {
      width: 15%;
    }

    .button-col {
      width: 15%;
    }
    
    .list-remove-player-button{
      width: 32px;
      height: 32px;
      border-radius: 4px;
        margin-left: 8px;
    }

    .list-remove-player-icon{
      width: 12px;
      height: 12px;
    }

}


/* Small devices (601px and up) */
@media only screen and (min-width: 601px) {
    
  .formation-wrapper{
      margin-left: 16px;
  }
  
  .sub-stat-wrapper{
      padding-left: 16px !important;
      padding-right: 16px !important;
  }
  
  .sub-stat-button{
      height: 48px !important;
      width: 122px !important;
      font-size: 11px;
  }

  .formation-text{
    font-size: 12px;
  }
      
  .autofill-button{
      width: 250px;
      height: 48px;
      border-radius: 8px;
      margin-right: 8px;
      font-size: 11px;
  }
  
  .save-team-button{
      width: 275px;
      height: 48px;
      border-radius: 8px;
      margin-right: 42px;
      font-size: 11px;
  }

  .sponsor1, .sponsor2{
      width: 124.25px !important;
      height: 28px !important;
  }
  
  .shirt-icon{
      width: 55.05px;
      height: 56.2px;
  }
  
  .player-name-row {
    padding: 10px;
    height: 16px;
    width: 100px;
    font-size: 10px;
  }
  
  .player-info-row {
      padding: 10px;
      height: 16px;
      width: 80px;
      font-size: 10px;
  }
  
  .bonus-image{
      width: 52px;
      height: 52px;
  }

  .bonus-label{
      font-size: 10px;
  }

  .btn-use-bonus{
      font-size: 12px;
  }
  
  .bonus-card{
      width: 132px;
  }

  .select-player-modal-row {
      height: 48px;
  }
      
  .modal-table-row{
      height: 30px;
  }

  .add-player-button, .small-add-player-button{
      width: 28px;
      height: 28px;
  }

  .small-plus-icon{
      width: 11px;
      height: 11px;
  }

  .remove-player-button {
      width: 18px;
      height: 18px;
      border-radius: 2.25px;
  }

  .captain-icon {
    width: 17px;
    height: 16.5px;
  }

  .left-side-image {
      left: -10px;
  }
  .right-side-image {
      right: -10px;
  }
}
  
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
  .formation-wrapper {
      margin-left: 28px;
  }

  .sub-stat-button {
      height: 50px !important;
      width: 127px !important;
      font-size: 12px;
  }

  .formation-text{
    font-size: 13px;
  }

  .autofill-button,
  .save-team-button {
      width: 137px;
      height: 50px;
  }

  .autofill-button {
      margin-right: 20px;
  }

  .save-team-button {
      margin-right: 37px;
  }

  .sponsor1,
  .sponsor2 {
      width: 155.75px !important;
      height: 34.5px !important;
  }

  .shirt-icon {
      width: 70.45px;
      height: 72px;
  }

  .player-name-row {
    padding: 9px;
    height: 19px;
    width: 152px;
    font-size: 9px;
  }

  .player-info-row {
      padding: 9px;
      height: 19px;
      width: 152px;
      font-size: 9px;
  }

  .bonus-image {
      width: 66px;
      height: 66px;
  }

  .bonus-card {
      width: 141px;
  }

  .select-player-modal-row {
      height: 60px;
  }

  .modal-table-row {
      height: 38px;
  }

  .add-player-button,
  .small-add-player-button {
      width: 30px;
      height: 30px;
  }

  .small-plus-icon {
      width: 12.5px;
      height: 12.5px;
  }

  .remove-player-button {
      width: 20px;
      height: 20px;
      border-radius: 2.5px;
  }

  .captain-icon {
    width: 18px;
    height: 17px;
}

.left-side-image {
  left: -12px;
}
.right-side-image {
  right: -12px;
}

.formation-text{
  font-size: 14px;
}
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
  .formation-wrapper {
      margin-left: 34px;
  }

  .sub-stat-button {
      height: 51px !important;
      width: 129.5px !important;
      font-size: 13px;
  }

  .formation-text{
    font-size: 14px;
  }

  .autofill-button,
  .save-team-button {
      width: 149px;
      height: 51px;
  }

  .autofill-button {
      margin-right: 22px;
  }

  .save-team-button {
      margin-right: 40px;
  }

  .sponsor1,
  .sponsor2 {
      width: 170.5px !important;
      height: 36.5px !important;
  }

  .shirt-icon {
      width: 77.5px;
      height: 78.5px;
  }

  .player-name-row {
    padding: 9.5px;
    height: 20.5px;
    width: 155px;
    font-size: 10px;
  }

  .player-info-row {
      padding: 9.5px;
      height: 20.5px;
      width: 155px;
      font-size: 10px;
  }

  .bonus-image {
      width: 74px;
      height: 74px;
  }

  .bonus-card {
      width: 146px;
  }

  .select-player-modal-row {
      height: 66px;
  }

  .modal-table-row {
      height: 41px;
  }

  .add-player-button,
  .small-add-player-button {
      width: 30.5px;
      height: 30.5px;
  }

  .small-plus-icon {
      width: 13.5px;
      height: 13.5px;
  }
  .remove-player-button {
      width: 26px;
      height: 26px;
      border-radius: 3.25px;
  }

  .captain-icon {
    width: 20px;
    height: 19px;
}

.left-side-image {
  left: -16px;
}
.right-side-image {
  right: -16px;
}
.remove-player-icon{
  width: 10px;
  height: 10px;
}


.position-col{
  width: 10%;
}

.captain-col{
  width: 10%;
}

.player-col{
  width: 45%;
}

.team-col,
.value-col {
  width: 15%;
}

.button-col {
  width: 5%;
}
}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
  .formation-wrapper {
      margin-left: 38px;
  }

  .sub-stat-button {
      height: 52px !important;
      width: 131px !important;
      font-size: 14px;
  }

  .formation-text{
    font-size: 15px;
  }

  .autofill-button,
  .save-team-button {
      width: 153.5px;
      height: 52px;
  }

  .autofill-button {
      margin-right: 21px;
  }

  .save-team-button {
      margin-right: 39px;
  }

  .sponsor1,
  .sponsor2 {
      width: 176.25px !important;
      height: 39.5px !important;
  }

  .shirt-icon {
      width: 82.5px;
      height: 83.5px;
  }

  .player-name-row {
    padding: 9px;
    height: 20px;
    width: 156px;
    font-size: 11px;
  }

  .player-info-row {
      padding: 9px;
      height: 20px;
      width: 156px;
      font-size: 11px;
  }

  .bonus-image {
      width: 76px;
      height: 76px;
  }

  .bonus-card {
      width: 148px;
  }

  .select-player-modal-row {
      height: 68px;
  }

  .modal-table-row {
      height: 42.5px;
  }

  .add-player-button,
  .small-add-player-button {
      width: 31px;
      height: 31px;
  }

  .small-plus-icon {
      width: 14px;
      height: 14px;
  }

  .remove-player-button {
      width: 29px;
      height: 29px;
      border-radius: 3.75px;
  }

  .captain-icon {
    width: 21.5px;
    height: 20.5px;
}

.left-side-image {
  left: -19px;
}
.right-side-image {
  right: -19px;
}
.remove-player-icon{
  width: 11px;
  height: 11px;
}
  
}

  /* added */
  @media only screen and (min-width: 1500px) {
    
    .pick-team-gameweek-col {
        flex-basis: 30%;
    }
    
    .pick-team-deadline-col {
        flex-basis: 40%;
    }
    
    .pick-team-player-count-col {
        flex-basis: 20%;
    }
    
    .pick-team-value-col {
        flex-basis: 35%;
    }
    
    .pick-team-bank-col {
        flex-basis: 35%;
    }
    
    .pick-team-transfers-col {
        flex-basis: 30%;
    }

        
    .pick-team-divider-1 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 24%;
        width: 1px;
        background-color: #37393C;
    }
    
    .pick-team-divider-2 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 70%;
        width: 1px;
        background-color: #37393C;
    }
    
    .formation-wrapper{
        margin-left: 40px;
    }

        
    .sub-stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .sub-stat-wrapper{
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
    
    .sub-stat-button{
        height: 52px !important;
        width: 132px !important;
        font-size: 14px;
    }

    .formation-text{
      font-size: 16px;
    }


        
    .autofill-button{
        width: 161px;
        height: 52px;
        border-radius: 8px;
        margin-right: 16px;
    }
    
    .save-team-button{
        width: 191px;
        height: 52px;
        border-radius: 8px;
        margin-right: 32px;
    }

    .sponsor1{
        width: 186.5px !important;
        height: 42px !important;
    };
    
    .sponsor2{
        width: 186.5px !important;
        height: 42px !important;
    }  

    .shirt{
      width: 86px;
      height: 88px;
    }  
      
  .shirt-icon{
    width: 86px;
    height: 88px;
  }
      
  .player-name-row {
    padding: 6px;
    height: 22px;
    width: 120px;
    font-size: 10px;
  }
  
  .player-info-row {
    padding: 6px;
    height: 22px;
    width: 120px;
    font-size: 10px;
  }
  
  .pitch-team-badge{
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .list-pitch-team-badge{
    margin-right: 4px;
  }
  
  .remove-player-button{
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }
  .remove-player-icon{
    width: 12px;
    height: 12px;
  }
  
  .captain-player-button{
    padding: 0px;
  }
  
  .left-side-image,
  .right-side-image {
    width: 22px;
    height: 22px;
  }
  
  
  .left-side-image {
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-side-image {
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .captain-icon{
    width: 23px;
    height: 22px;
  }

  
  .row-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .pick-team-badge-icon{
    width: 16px;
    height: 16px;
  }

  

.bonus-image{
  width: 80px;
  height: 80px;
}

.bonus-label{
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-use-bonus{
  border-radius: 8px;
  padding: 8px;
}

.txt-used-bonus{
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}


.bonus-card:not(:last-child) {
  margin-right: 16px;
}

.bonus-card{
  width: 150px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.card-container {
  padding-left: 32px;
  padding-right: 32px;
}



.select-player-modal-row {
  height: 72px;
}

.modal-table-row{
  height: 46px;
}

.modal-position-col{
  flex-basis: 15%;
}
.modal-player-col {
  flex-basis: 25%;
}

.modal-team-col,
.modal-value-col {
  flex-basis: 20%;
}

.modal-pts-col {
  flex-basis: 10%;
}

.modal-button-col {
  flex-basis: 10%;
  padding: 0;
}

.add-player-button{
  width: 32px;
  height: 32px;
  border-radius: 4px;
}


.small-add-player-button{
  width: 32px;
  height: 32px;
  background-color: #2CE3A6;
  border: none;
  border-radius: 4px;
}
.small-plus-icon{
  width: 16px;
  height: 16px;
}


  }
  