
.pick-team-gameweek-col {
    flex-basis: 30%;
  }
  
  .pick-team-deadline-col {
    flex-basis: 40%;
  }
  
  .pick-team-player-count-col {
    flex-basis: 20%;
  }
  
  .pick-team-value-col {
    flex-basis: 35%;
  }
  
  .pick-team-bank-col {
    flex-basis: 35%;
  }
  
  .pick-team-transfers-col {
    flex-basis: 30%;
  }
  
  
  .pick-team-divider-1 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 24%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-2 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 70%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-3 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 32%;
    width: 1px;
    background-color: #37393C;
  }
  
  .pick-team-divider-4 {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 67%;
    width: 1px;
    background-color: #37393C;
  }

  
.sub-stat-panel{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100px;
  }
  
  .sub-stat-wrapper{
    width: 100% !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  
  .sub-stat-button{
    height: 52px !important;
    width: 132px !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background-color: #161819 !important;
  }
  
  .sub-stat-button.active{
    background-color: #2CE3A6 !important;
    color: #161819 !important;
    border: none;
  }
  
  .sub-stat-button-left{
    border-radius: 8px 0px 0px 8px;
    border-color: #37393C !important;
    border-width: 1px 0px 1px 1px;
  }
  
  .sub-stat-button-right{
    border-radius: 0px 8px 8px 0px;
    border-color: #37393C !important;
    border-width: 1px 1px 1x 0px;
  }

    

    .formation-text:hover{
        border: none !important;
    }
    .formation-text{
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        border: none;
    }



/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
        
    .pick-team-gameweek-col {
        flex-basis: 25%;
    }
  
    .pick-team-deadline-col {
        flex-basis: 50%;
    }
    
    .pick-team-player-count-col {
        flex-basis: 25%;
    }
    
    .pick-team-value-col {
        flex-basis: 35%;
    }
    
    .pick-team-bank-col {
        flex-basis: 35%;
    }
    
    .pick-team-transfers-col {
        flex-basis: 30%;
    }

        
    .pick-team-divider-1 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 24%;
        width: 1px;
        background-color: #37393C;
    }
    
    .pick-team-divider-2 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 74%;
        width: 1px;
        background-color: #37393C;
    }

    .formation-wrapper{
        margin-left: 4px;
    }
        
    .sub-stat-panel{
        padding-top: 2px;
        padding-bottom: 2px;
        height: 150px;
    }
    
    .sub-stat-wrapper{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    
    .sub-stat-button{
        height: 52px !important;
        width: 80px !important;
        font-size: 8px !important;
        padding: 0;
    }

    .formation-text{
        font-size: 10px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
    
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
  /* added */
  @media only screen and (min-width: 1500px) {
    
    .pick-team-gameweek-col {
        flex-basis: 30%;
    }
    
    .pick-team-deadline-col {
        flex-basis: 40%;
    }
    
    .pick-team-player-count-col {
        flex-basis: 20%;
    }
    
    .pick-team-value-col {
        flex-basis: 35%;
    }
    
    .pick-team-bank-col {
        flex-basis: 35%;
    }
    
    .pick-team-transfers-col {
        flex-basis: 30%;
    }

        
    .pick-team-divider-1 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 24%;
        width: 1px;
        background-color: #37393C;
    }
    
    .pick-team-divider-2 {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 70%;
        width: 1px;
        background-color: #37393C;
    }
    
    .formation-wrapper{
        margin-left: 40px;
    }

        
    .sub-stat-panel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 100px;
    }
    
    .sub-stat-wrapper{
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
    
    .sub-stat-button{
        height: 52px !important;
        width: 132px !important;
        font-size: 16px !important;
        padding: unset;
    }


    .formation-text{
        font-size: 16px;
    }
  }
  
  /* 4K and large screens */
  @media only screen and (min-width: 1920px) {
    
  }
