

.player-modal-name-row{
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: solid 1px #454B56;
  }
  
  .player-modal-flag-col{
    flex-basis: 15%;
  }
  
  .player-modal-name-col{
    margin-left: 14px;
    font-size: 40px;
    font-weight: 500;
    flex-basis: 1;
  }
  
  .player-modal-detail-row{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 16px;
    width: 100%;
  }
  
  .player-modal-fixture-col{
    flex-basis: 33%;
    margin-top: 8px;
  }
  
  .player-modal-season-col{
    flex-basis: 33%;
    margin-top: 8px;
  }
  
  .player-modal-gameweek-col{
    flex-basis: 1;
    margin-top: 8px;
  }
  
  .player-modal-header-row{
    display: flex;
    align-items: center;
    background-color: #2E323A;
    border-top: 1px solid rgba(69, 75, 86, 0.8);
    border-bottom: 1px solid rgba(69, 75, 86, 0.8);
    height: 46px;
  }
  
  .player-modal-category-row{
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 24px;
  }
  
  .player-modal-total-row{
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 24px;
    background-color: #2E323A;
    border-top: 1px solid rgba(69, 75, 86, 0.8);
    border-bottom: 1px solid rgba(69, 75, 86, 0.8);
    
  }
  
  .player-modal-category-col{
    flex-basis: 50%;
  }
  
  .player-modal-quantity-col{
    flex-basis: 25%;
  }
  
  .player-modal-points-col{
    flex-basis: 25%;
  }
  
  
  
  .player-detail-modal-category-col{
    flex-basis: 33%;
  }
  
  .player-detail-modal-quantity-col{
    flex-basis: 33%;
  }
  
  .player-detail-modal-points-col{
    flex-basis: 33%;
  }
  
  .row-bottom-border{
    border-bottom: solid 1px #454B56;
  }
  
  .player-modal-header-row{
    font-size: 12px;
    font-weight: 600;
    padding-left: 24px;
  }
  
  .player-modal-total-col{
    flex-basis: 75%;
  }
  
  .player-modal-total-points-col{
    flex-basis: 25%;
  }
  
  .player-detail-modal-total-col{
    flex-basis: 66%;
  }
  
  .player-detail-modal-total-points-col{
    flex-basis: 33%;
  }
  
  .modal-footer{
    border-top: none !important;
  }
  
  .player-detail-divider-1{
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 31%;
    width: 1px;
    background-color: #37393C;
  }
  
  .player-detail-divider-2{
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 64%;
    width: 1px;
    background-color: #37393C;
  }

  

.fpl-btn-purple{
    background-color: #7F56F1;
    color: white;
    width: 146px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
  }

.modal-footer{
    padding-top: 0px !important;
}

.select-player-badge-icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
  
/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
    
    .player-modal-name-row{
        margin-top: 0px;
        padding-bottom: 16px;
    }
    
    .player-modal-flag-col{
        flex-basis: 15%;
    }

    .player-modal-flag{
        width: 50px !important;
    }
    
    .player-modal-name-col{
        margin-left: 14px;
        font-size: 20px;
        flex-basis: 1;
    }
    
    .player-modal-detail-row{
        padding-top: 10px;
        padding-bottom: 16px;
        width: 100%;
        font-size: 12px;
    }
    
    .player-modal-fixture-col{
        flex-basis: 33%;
        margin-top: 8px;
    }
    
    .player-modal-season-col{
        flex-basis: 33%;
        margin-top: 8px;
    }
    
    .player-modal-gameweek-col{
        margin-top: 8px;
    }
    
    .player-modal-header-row{
        height: 40px;
        font-size: 12px;
    }
    
    .player-modal-category-row{
        height: 40px;
        padding-left: 24px;
        font-size: 10px;
    }
    
    .player-modal-total-row{
        height: 40px;
        font-size: 12px;
        padding-left: 24px;
        border-top: 1px solid rgba(69, 75, 86, 0.8);
        border-bottom: 1px solid rgba(69, 75, 86, 0.8);
        
    }
    
    .player-modal-category-col{
        flex-basis: 50%;
    }
    
    .player-modal-quantity-col{
        flex-basis: 25%;
    }
    
    .player-modal-points-col{
        flex-basis: 25%;
    }
    
    .player-detail-modal-category-col{
        flex-basis: 33%;
    }
    
    .player-detail-modal-quantity-col{
        flex-basis: 33%;
    }
    
    .player-detail-modal-points-col{
        flex-basis: 33%;
    }
    
    .row-bottom-border{
        border-bottom: solid 1px #454B56;
    }
    
    .player-modal-header-row{
        font-size: 12px;
        padding-left: 24px;
    }
    
    .player-modal-total-col{
        flex-basis: 75%;
    }
    
    .player-modal-total-points-col{
        flex-basis: 25%;
    }
    
    .player-detail-modal-total-col{
        flex-basis: 66%;
    }
    
    .player-detail-modal-total-points-col{
        flex-basis: 33%;
    }
    
    .player-detail-divider-1{
        top: 15%;
        bottom: 15%;
        left: 31%;
        width: 1px;
    }
    
    .player-detail-divider-2{
        top: 15%;
        bottom: 15%;
        left: 64%;
        width: 1px;
    }

    .fpl-btn-purple{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    

  .select-player-badge-icon{
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
  
}
  
/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* added */
@media only screen and (min-width: 1500px) {
    
.player-modal-name-row{
    margin-top: 32px;
    padding-bottom: 16px;
  }
  
  .player-modal-flag-col{
    flex-basis: 15%;
  }
  
  .player-modal-name-col{
    margin-left: 14px;
    font-size: 40px;
    flex-basis: 1;
  }
  
  .player-modal-detail-row{
    padding-top: 10px;
    padding-bottom: 16px;
    width: 100%;
  }
  
  .player-modal-fixture-col{
    flex-basis: 33%;
    margin-top: 8px;
  }
  
  .player-modal-season-col{
    flex-basis: 33%;
    margin-top: 8px;
  }
  
  .player-modal-gameweek-col{
    margin-top: 8px;
  }
  
  .player-modal-header-row{
    height: 46px;
  }
  
  .player-modal-category-row{
    height: 56px;
    padding-left: 24px;
  }
  
  .player-modal-total-row{
    height: 56px;
    font-size: 18px;
    padding-left: 24px;
    border-top: 1px solid rgba(69, 75, 86, 0.8);
    border-bottom: 1px solid rgba(69, 75, 86, 0.8);
    
  }
  
  .player-modal-category-col{
    flex-basis: 50%;
  }
  
  .player-modal-quantity-col{
    flex-basis: 25%;
  }
  
  .player-modal-points-col{
    flex-basis: 25%;
  }
  
  .player-detail-modal-category-col{
    flex-basis: 33%;
  }
  
  .player-detail-modal-quantity-col{
    flex-basis: 33%;
  }
  
  .player-detail-modal-points-col{
    flex-basis: 33%;
  }
  
  .row-bottom-border{
    border-bottom: solid 1px #454B56;
  }
  
  .player-modal-header-row{
    font-size: 12px;
  }
  
  .player-modal-total-col{
    flex-basis: 75%;
  }
  
  .player-modal-total-points-col{
    flex-basis: 25%;
  }
  
  .player-detail-modal-total-col{
    flex-basis: 66%;
  }
  
  .player-detail-modal-total-points-col{
    flex-basis: 33%;
  }
  
  .player-detail-divider-1{
    top: 15%;
    bottom: 15%;
    left: 31%;
    width: 1px;
  }
  
  .player-detail-divider-2{
    top: 15%;
    bottom: 15%;
    left: 64%;
    width: 1px;
  }
  .player-modal-flag{
      width: 100px !important;
  }

  

.fpl-btn-purple{
    width: 146px;
    height: 52px;
    font-size: 16px;
  }

  .select-player-badge-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

/* 4K and large screens */
@media only screen and (min-width: 1920px) {

}
