.edit-profile-icon {
    position: absolute;
    top: 10px !important;
    right: 0px !important;
    z-index: 1;
}

.profile-picture-col{
    position: relative;
}

.profile-detail-image{
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 32px;
}



.coins-row{
    height: 104px;
    padding-left: 32px;
    padding-right: 32px;
    display:flex;
  }
  
  .coin-icon{
    width: 56px;
    height: 56px;
    margin-left: 24px;
    margin-right: 24px;
    display: 'flex';
  }
  
  .coin-icon-col{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .coin-name-col{
    align-items: center;
    display: flex;
  }
  
  .coin-col{
    display: flex;
    border-radius: 8px;
    border: 1px solid #454B56;
    height: 104px;
  }
  
  .coin-col > :first-child {
    margin-left: 0;
  }
  .coin-col > :last-child {
    margin-right: 0;
  }
  
  .coins-row{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .coin-name{
    font-weight: 700;
    font-size: 24px;
  }
  
  .coin-balance{
    font-weight: 500;
    font-size: 14px;
  }
  
  .coin-balance-suffix{
    color: #B1B1B1;
  }

.profile-details-row{
  height: 300px;
  padding-left: 32px;
  margin-top: 32px;
  display:flex;
}

.profile-details-col{
  flex-grow: 1;
}

.profile-detail-row-1{
  height: 168px;
  padding-left: 32px;
  padding-right: 32px;
}

.profile-detail-row-2{
  height: 168px;
  padding-left: 32px;
  padding-right: 32px;
}

.profile-display-name-col{
  flex-basis: 30%;
}

.profile-favourite-team-col{
  flex-basis: 50%;
}
  

.fpl-large-btn{
  background-color: #2CE3A6 !important;
  border: none !important;
  border-radius: 2px !important;
  color: black !important;
};

/* Extra small devices (phones, 321px and up) */
@media only screen and (min-width: 321px) {
  .edit-profile-icon {
    top: 10px !important;
  }

.profile-detail-image{
    width: 200px;
    border-radius: 8px;
    margin-left: 0px;
    margin-top: 32px;
}


.profile-details-row{
  height: 240px;
  padding-left: 16px;
  margin-top: 16px;
  display:flex;
}



.profile-detail-row-1{
  height: 120px;
  padding-left: 0px;
}

.profile-detail-row-2{
  height: 120px;
  padding-left: 0px;
}


.profile-display-name-col{
  flex-basis: 50%;
}

.profile-favourite-team-col{
  flex-basis: 50%;
}

.fpl-large-btn{
  font-size: 12px;
};

.stat-dropdown{
  font-size: 12px !important;
  background-color: #454B56 !important;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 601px) {
  
}
  
/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* added */
@media only screen and (min-width: 1500px) {
  .edit-profile-icon {
    top: 10px !important;
}

.profile-detail-image{
    width: 300px;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 32px;
} 

.profile-detail-row-1{
  height: 168px;
  padding-left: 32px;
}

.profile-detail-row-2{
  height: 168px;
  padding-left: 32px;
}


.profile-display-name-col{
  flex-basis: 30%;
}

.profile-favourite-team-col{
  flex-basis: 50%;
}

.fpl-large-btn{
  font-size: unset;
};


.stat-dropdown{
  font-size: unset !important;
}

}

/* 4K and large screens */
@media only screen and (min-width: 1920px) {

}

