.modal-backdrop.svelte-1fl295u {
  z-index: 1000;
}
.bonus-panel-inner.svelte-fqxxu5 {
  background-color: #2e323ae6;
}
.bonus-panel.svelte-fqxxu5 {
  background-color: #2e323acc;
}
.modal-backdrop.svelte-lf3rrb {
  z-index: 1000;
}
.active.svelte-lf3rrb {
  background-color: #2ce3a6;
  color: #fff;
}
