// Custom.scss

//purple #895BF5 (137,91,245,96)
//peach #F5A28C (245,162,140,96)
//light purple #9A73F6 (154,115,246,96)
//brown #F5EA5B (245,234,91,96)
//seafoam #67F5C9 (103,246,201,96) 

$primary: #895BF5; // Your custom primary color
$secondary: #67F5C9; // Your custom secondary color

.navbar-brand, .nav-link{
    color: #895BF5 !important;
}

.card{
    background-color: whitesmoke !important;
    color: #0A0111;
}

.accordion-button{
    background: linear-gradient(to right, #F5A28C, #9A73F6) !important;
    color: #0A0111 !important;
}

 
@import '~bootstrap/scss/bootstrap';

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(4, 165, 74, 1);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill='%23f5f5f5'%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");

}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.list-group-item{
    background-color: inherit !important;
}

.nav-link{
    color: black !important;
}

.btn-primary{
    color: whitesmoke !important;
}
