@import '~bootstrap/scss/bootstrap';
@import './css/common.scss';
@import './css/homepage.scss';
@import './css/fixtures.scss';
@import './css/footer.scss';
@import './css/header.scss';

//Navbar


//Footer


  .modal{
    z-index: 9999 !important;
  }

  .modal-dialog {
    max-width: 690px;
  }

.formation-text:hover{
  border: none !important;
}
.formation-text{
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: none;
}
/* Common Dropdown Styles */
.nav-dropdown-menu, .formation-dropdown-menu, .dropdown-menu {
  position: absolute !important;
  background-color: #161819 !important;
  width: 185px !important;
  padding: 16px !important;
}

/* Positioning */
.nav-dropdown-menu {
  transform: translate(-50%, 0) !important;
}

.formation-dropdown-menu,
.dropdown-menu {
  transform: translate(0%, 20px) !important;
}

/* Dropdown Item */
.dropdown-item {
  color: white;
  font-weight: 400 !important;
  font-size: 16px !important;
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
}

/* Hover & Disabled State */
.dropdown-item:hover {
  background-color: white !important;
  color: #161819 !important;
}

.disconnect:hover{
  background-color: #2CE3A6;
  color: white;
}





.active-link {
    font-weight: 700 !important;
    color: white !important;
}

.nav-profile-image{
  max-width: 40px;
  margin-left: 32px;
}

.card{
    background-color: rgba(36, 37, 41, 0.9);
    color: white !important;
    border-radius: 8px !important;
    border: 1px solid #2E323A !important;
}

.card-header{
  position: relative;
    background-color: rgba(46, 50, 58, 0.6);
    color: white !important;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 46px;
    line-height: 46px; 
    padding: 0 !important;
}

.card-header-underline {
  position: relative;
  display: inline-block;
  height: 100%;
  margin-left: 32px;
}

.card-header-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2CE3A6;
}

.card-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 16px;
  margin-right: 32px;
}

.card-arrow{
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 24px;
  color: white;
}

.d-flex.text-center.align-items-center.h-100 {
    position: relative;
  }
  
  .partial-border {
    position: relative;
  }
  
  .partial-border::after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    width: 1px;
    background-color: #37393C;
  }




.nav-tabs{
  border-bottom: none !important;
}

.nav-tabs .nav-link.active {
  color: white !important;
  border-bottom-color: #2CE3A6 !important;
  border-bottom-width: 4px;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
}
.nav-tabs .nav-link:not(.active) {
  color: #C2C3C4 !important;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
}




.fpl-large-btn{
  background-color: #2CE3A6 !important;
  border: none !important;
  border-radius: 2px !important;
  color: black !important;
};

.light-background{
  background-color: #2E323A !important; 
}

.dark-tab-row{
  background-color: #242529 !important; 
}

.logo-text{
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}





.col-home-team-widget,
.col-away-team-widget,
.col-vs-widget {
  flex: 0 0 auto;
}

.col-home-team-widget {
  width: 40%;
}

.col-vs-widget {
  width: 5%;
}

.col-away-team-widget {
  margin-left: 15%;
  width: 40%;
}


.sponsor1{
  width: 186.5px !important;
  height: 42px !important;
};

.sponsor2{
  width: 186.5px !important;
  height: 42px !important;
};

.shirt{
  width: 60.69px;
  height: 80px;
}

.row-wrapper {
  position: absolute;
  width: 100%;
}

.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.pos-1{
  width: 100%;
}
.pos-2{
  width: 50%;
}
.pos-3{
  width: 33%;
}
.pos-4{
  width: 25%;
}
.pos-5{
  width: 20%;
}

.bonus-card:not(:last-child) {
  margin-right: 16px;
}

.bonus-card{
  width: 150px;
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px !important;
}

.image-row,
.text-row,
.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonus-image{
  width: 80px;
  height: 80px;
}

.bonus-label{
  font-weight: 600;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.btn-use-bonus{
  background-color: #7F56F1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.txt-used-bonus{
  background-color: #242529;
  color: white;
  border: solid 1px #37393C;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 8px;
  font-weight: 600;
  text-align: center;
}

.list-view-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  background-color: rgba(69, 75, 86, 0.8);
  height: 46px;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.list-view-sub-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(69, 75, 86, 0.8);
  height: 46px;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.list-view-player-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161819;
  height: 72px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.list-view-player-row-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
}

.header-col {
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
}



.position-col{
  width: 10%;
}

.captain-col{
  width: 10%;
}

.player-col{
  width: 45%;
}

.team-col,
.value-col {
  width: 15%;
}

.button-col {
  width: 5%;
}

.modal-table-header {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  padding-left: 24px;
}

.select-player-modal-row {
  height: 72px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(69, 75, 86, 0.8);
  width: 100% !important;
}

.select-player-modal-row p {
  font-size: 18px;
  font-weight: 400;
}

.modal-table-row{
  border-color: rgba(69, 75, 86, 0.8);
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: rgba(46, 50, 58, 0.6);
  height: 46px;
}

.modal-position-col{
  flex-basis: 15%;
}

.modal-player-col{
  flex-basis: 25%;
}

.modal-team-col,
.modal-value-col {
  flex-basis: 20%;
}

.modal-pts-col {
  flex-basis: 10%;
}

.modal-button-col {
  flex-basis: 10%;
  padding: 0;
}

.add-player-button{
  width: 32px;
  height: 32px;
  background-color: #2CE3A6;
  border: none;
  border-radius: 4px;
}

.float-right-buttons {
  text-align: right;
}

.autofill-button{
  width: 161px;
  height: 52px;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #7F56F1;
  color: white;
}

.save-team-button{
  width: 191px;
  height: 52px;
  border: none;
  border-radius: 8px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 600;
  background-color: #7F56F1;
  color: white;
}

.save-team-button:disabled, .autofill-button:disabled {
  background-color: #5A5A5A;
}


.modal-content {
  background-color: #161819;
  border-radius: 1px;
  border-color: #2E323A;
}

.modal-header{
  border-bottom: none;
  padding-bottom: 0 !important;
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
}
.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}


.form-label{
  font-size: 14px;
  font-weight: 600;
}

.form-control{
  background-color: #2E323A;
  color: white;
  border: none;
  box-shadow: inset 0 0 1px #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 1px;
}

.custom-pagination-container{
  overflow-x: auto;
  height: 36px;
  margin-top: 16px;
}

.leaderboard-pagination-container{
  overflow-x: auto;
}

.page-link {
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 8px;
  background-color: transparent;
  color: white;
  border: none;
}

.page-link.active, .active > .page-link{
  background-color: #2CE3A6;
  border: none;
  color: #161819;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.list-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.player-details {
  border-radius: 12px;
  overflow: hidden;
  margin-top: 5px; 
}

.player-name-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242529;
  color: white;
  text-align: center;
  padding: 8px;
  height: 32px;
  width: 146px;
  font-size: 12px;
  font-weight: 600;
}

.list-player-name-row {
  display: flex;
}

.player-info-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #161819;
  display: flex;
  padding: 8px;
  height: 22px;
  width: 146px;
  font-size: 12px;
  font-weight: 600;
}

.list-player-info-row {
  display: flex;
}

.pitch-team-badge{
  margin-left: 4px;
  margin-right: 4px;
}

.list-pitch-team-badge{
  margin-right: 4px;
}

.remove-player-button{
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: #E32C2C;
}

.captain-player-button{
  border: none;
  background-color: transparent;
  padding: 0px;
}

.shirt-container {
  position: relative;
}

.left-side-image,
.right-side-image {
  position: absolute;
  bottom: 0;
  width: 22px;
  height: 22px;
}

.left-side-image {
  left: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-image {
  right: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.hidden {
  display: none;
}

.disabled-player-text{
  font-size: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}



.pick-team-gameweek-col {
  flex-basis: 30%;
}

.pick-team-deadline-col {
  flex-basis: 40%;
}

.pick-team-player-count-col {
  flex-basis: 20%;
}

.pick-team-value-col {
  flex-basis: 35%;
}

.pick-team-bank-col {
  flex-basis: 35%;
}

.pick-team-transfers-col {
  flex-basis: 30%;
}


.pick-team-divider-1 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 24%;
  width: 1px;
  background-color: #37393C;
}

.pick-team-divider-2 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 70%;
  width: 1px;
  background-color: #37393C;
}

.pick-team-divider-3 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 32%;
  width: 1px;
  background-color: #37393C;
}

.pick-team-divider-4 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 67%;
  width: 1px;
  background-color: #37393C;
}

.profile-details-row{
  height: 300px;
  padding-left: 32px;
  margin-top: 32px;
  display:flex;
}

.profile-picture-col{
  flex-basis: 300px;
  margin-right: 80px;
}

.profile-details-col{
  flex-grow: 1;
}

.profile-detail-row-1{
  height: 168px;
  padding-left: 32px;
}

.profile-detail-row-2{
  height: 168px;
  padding-left: 32px;
}

.profile-display-name-col{
  flex-basis: 30%;
}

.profile-favourite-team-col{
  flex-basis: 50%;
}

.coins-row{
  height: 104px;
  padding-left: 32px;
  display:flex;
}

.profile-detail-image{
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.coin-icon{
  width: 56px;
  height: 56px;
  margin-left: 24px;
  margin-right: 24px;
  display: 'flex';
}

.coin-icon-col{
  display: flex;
  align-items: center;
  justify-content: left;
}

.coin-name-col{
  align-items: center;
  display: flex;
}

.coin-col{
  display: flex;
  border-radius: 8px;
  border: 1px solid #454B56;
  margin-right: 40px;
  width: 265.3px;
  height: 104px;
}

.coin-col > :first-child {
  margin-left: 0;
}
.coin-col > :last-child {
  margin-right: 0;
}

.coins-row{
  margin-top: 40px;
  margin-bottom: 40px;
}

.coin-name{
  font-weight: 700;
  font-size: 24px;
}

.coin-balance{
  font-weight: 500;
  font-size: 14px;
}

.coin-balance-suffix{
  color: #B1B1B1;
}

.table-header-row {
  height: 46px;
  padding-left: 32px;
  border-top: 1px solid #454B56;
  border-bottom: 1px solid #454B56;
}

.gw-points-position-col{
  flex-basis: 5%;
}
.gw-points-name-col{
  flex-basis: 10%;
}
.gw-points-club-col{
  flex-basis: 20%;
}
.gw-points-appearances-col{
  flex-basis: 5%;
}
.gw-points-highest-scoring-col{
  flex-basis: 5%;
}
.gw-points-goals-col{
  flex-basis: 5%;
}
.gw-points-assists-col{
  flex-basis: 5%;
}
.gw-points-pen-saves-col{
  flex-basis: 5%;
}
.gw-points-clean-sheets-col{
  flex-basis: 5%;
}
.gw-points-saves-col{
  flex-basis: 5%;
}
.gw-points-yellow-cards-col{
  flex-basis: 5%;
}
.gw-points-own-goals-col{
  flex-basis: 5%;
}
.gw-points-goals-conceded-col{
  flex-basis: 5%;
}
.gw-points-missed-pen-col{
  flex-basis: 5%;
}
.gw-points-red-card-col{
  flex-basis: 5%;
}
.gw-points-bonus-col{
  flex-basis: 5%;
}
.gw-points-points-col{
  flex-basis: 5%;
}

.gw-table-header{
  font-size: 12px;
  font-weight: 600;
}

.gw-table-col{
  font-size: 18px;
  font-weight: 400;
}

.gw-bonus-image{
  width: 28px;
  height: 28px;
}

.league-position-col{
  flex-basis: 5%;
}

.league-team-col{
  flex-basis: 25%;
}

.league-played-col{
  flex-basis: 8.75%;
}

.league-won-col{
  flex-basis: 8.75%;
}

.league-drawn-col{
  flex-basis: 8.75%;
}

.league-lost-col{
  flex-basis: 8.75%;
}

.league-goals-col{
  flex-basis: 8.75%;
}

.league-conceded-col{
  flex-basis: 8.75%;
}

.league-goal-difference-col{
  flex-basis: 8.75%;
}

.league-points-col{
  flex-basis: 8.75%;
}


.leaderboard-pos-col{
  flex-basis: 20%;
}

.leaderboard-name-col{
  flex-basis: 30%;
}

.leaderboard-points-col{
  flex-basis: 20%;
}

.gameweek-total-points{
  font-size: 18px;
  font-weight: 500;
}

.player-modal-name-row{
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding-bottom: 16px;
  border-bottom: solid 1px #454B56;
}

.player-modal-flag-col{
  flex-basis: 15%;
}

.player-modal-name-col{
  margin-left: 14px;
  font-size: 40px;
  font-weight: 500;
  flex-basis: 1;
}

.player-modal-detail-row{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
  width: 100%;
}

.player-modal-fixture-col{
  flex-basis: 33%;
  margin-top: 8px;
}

.player-modal-season-col{
  flex-basis: 33%;
  margin-top: 8px;
}

.player-modal-gameweek-col{
  flex-basis: 1;
  margin-top: 8px;
}

.player-modal-header-row{
  display: flex;
  align-items: center;
  background-color: #2E323A;
  border-top: 1px solid rgba(69, 75, 86, 0.8);
  border-bottom: 1px solid rgba(69, 75, 86, 0.8);
  height: 46px;
}

.player-modal-category-row{
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 24px;
}

.player-modal-total-row{
  display: flex;
  align-items: center;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 24px;
  background-color: #2E323A;
  border-top: 1px solid rgba(69, 75, 86, 0.8);
  border-bottom: 1px solid rgba(69, 75, 86, 0.8);
  
}

.player-modal-category-col{
  flex-basis: 50%;
}

.player-modal-quantity-col{
  flex-basis: 25%;
}

.player-modal-points-col{
  flex-basis: 25%;
}



.player-detail-modal-category-col{
  flex-basis: 33%;
}

.player-detail-modal-quantity-col{
  flex-basis: 33%;
}

.player-detail-modal-points-col{
  flex-basis: 33%;
}

.row-bottom-border{
  border-bottom: solid 1px #454B56;
}

.player-modal-header-row{
  font-size: 12px;
  font-weight: 600;
  padding-left: 24px;
}

.player-modal-total-col{
  flex-basis: 75%;
}

.player-modal-total-points-col{
  flex-basis: 25%;
}

.player-detail-modal-total-col{
  flex-basis: 66%;
}

.player-detail-modal-total-points-col{
  flex-basis: 33%;
}

.modal-footer{
  border-top: none !important;
}

.player-detail-divider-1{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 31%;
  width: 1px;
  background-color: #37393C;
}

.player-detail-divider-2{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 64%;
  width: 1px;
  background-color: #37393C;
}

.fpl-btn-purple{
  background-color: #7F56F1;
  color: white;
  width: 146px;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
}

.clickable-table-row{
  cursor: pointer;
}

.club-badge-col{
  flex-basis: 25%;
  align-items: center;
  justify-content: center;  
  display: flex;
}

.club-total-players-col{
  flex-basis: 25%;
}

.club-position-col{
  flex-basis: 25%;
}

.club-points-col{
  flex-basis: 25%;
}



.club-divider-1 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 22%;
  width: 1px;
  background-color: #37393C;
}

.club-divider-2 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 48%;
  width: 1px;
  background-color: #37393C;
}

.club-divider-3 {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 74%;
  width: 1px;
  background-color: #37393C;
}

.club-player-number-col{
  flex-basis: 10%;
}
.club-player-name-col{
  flex-basis: 30%;
  display: flex;
}
.club-player-position-col{
  flex-basis: 20%;
}
.club-player-value-col{
  flex-basis: 20%;
}
.club-player-age-col{
  flex-basis: 20%;
}

.zero-text{
  color: #5A5A5A;
}

.player-details-name-col{
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-details-position-col{
  flex-basis: 35%;
}
.player-details-value-col{
  flex-basis: 27.5%;
}
.player-details-age-col{
  flex-basis: 17.5%;
}

.player-divider-1{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 18%;
  width: 1px;
  background-color: #37393C;
}

.player-divider-2{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 54%;
  width: 1px;
  background-color: #37393C;
}

.player-divider-3{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 82%;
  width: 1px;
  background-color: #37393C;
}

.gw-history-gw-col{
  flex-basis: 10%;
}

.gw-history-opponent-col{
  flex-basis: 30%;
}

.gw-history-points-col{
  flex-basis: 40%;
}

.gw-history-details-col{
  flex-basis: 20%;
}

.view-details-button{
  background-color: transparent !important;
  border: none !important;
}

.text-right {
  text-align: right;
}

.mgw-number-col{
  flex-basis: 14%;
}
.mgw-transfers-col {
  flex-basis: 14%;
}
.mgw-team-value-col {
  flex-basis: 14%;
}
.mgw-bank-col {
  flex-basis: 14%;
}
.mgw-captain-col {
  flex-basis: 16%;
}
.mgw-bonus-col {
  flex-basis: 14%;
}
.mgw-points-col {
  flex-basis: 14%;
}



.manager-pos-col{
  flex-basis: 33%;
  align-items: center;
  justify-content: center;  
  display: flex;
}

.manager-picture-col{
  flex-basis: 100px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manager-details-col{
  flex-grow: 1;
}

.manager-detail-row-1{
  height: 100px;
  padding-left: 32px;
}

.manager-detail-row-2{
  height: 168px;
  padding-left: 32px;
}

.manager-display-name-col{
  flex-basis: 30%;
}

.manager-favourite-team-col{
  flex-basis: 70%;
}

.manager-profile-image{
  width: 100px !important;
  height: 100px !important;
  margin-left: 32px;
  border-radius: 8px;
}

.custom-navbar{
  width: 100% !important;
}
