@import '~bootstrap/scss/bootstrap';
@import './css/common.scss';
@import './css/homepage.scss';
@import './css/fixtures.scss';
@import './css/footer.scss';
@import './css/header.scss';
@import './css/gameweek-points.scss';
@import './css/pick-team.scss';
@import './css/fixtures-widget.scss';
@import './css/profile.scss';
@import './css/league-table.scss';
@import './css/player-modal.scss';
@import './css/manager.scss';
@import './css/manager-gameweek-points.scss';
@import './css/club-details.scss';
@import './css/player-details.scss';

//Navbar


//Footer


  .modal{
    z-index: 9999 !important;
  }

  .modal-dialog {
    max-width: 690px;
  }
/* Common Dropdown Styles */
.nav-dropdown-menu, .formation-dropdown-menu, .dropdown-menu {
  position: absolute !important;
  background-color: #161819 !important;
  width: 185px !important;
  padding: 16px !important;
}

/* Positioning */
.nav-dropdown-menu {
  transform: translate(-50%, 0) !important;
  z-index: 30;
}

.formation-dropdown-menu {
  transform: translate(0%, 20px) !important;
}

/* Dropdown Item */
.dropdown-item {
  color: white;
  font-weight: 400 !important;
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
}

/* Hover & Disabled State */
.dropdown-item:hover {
  background-color: white !important;
  color: #161819 !important;
}
.dropdown-item:hover{
  background-color: white !important;
  color: #161819 !important;
}

.dropdown-item:focus{
  color: white;
}

.disconnect:hover{
  background-color: #2CE3A6;
  color: white;
}





.active-link {
    font-weight: 700 !important;
    color: white !important;
}

.card{
    background-color: rgba(46, 50, 58, 0.9);
    color: white !important;
    border-radius: 8px !important;
    border: 1px solid #2E323A !important;
    overflow: hidden;
}

.d-flex.text-center.align-items-center.h-100 {
    position: relative;
  }
  
  .partial-border {
    position: relative;
  }
  
  .partial-border::after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    width: 1px;
    background-color: #37393C;
  }





.bottom-border-radius{
  border-radius: 0px 0px 8px 8px !important;
}

.top-border-radius{
  border-radius: 8px 8px 0px 0px !important;
}



.dark-tab-row{
  background-color: #242529 !important; 
  overflow-x: hidden;
}

.logo-text{
  letter-spacing: 2px;
  font-weight: 700;
}

.row-wrapper {
  position: absolute;
  width: 100%;
}

.image-row,
.text-row,
.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-row{
  height: 75px;
}

.header-col {
  vertical-align: middle;
  font-weight: 600;
}

.dot-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; 
}

.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}


.form-label{
  font-weight: 600;
}

.form-control{
  background-color: #2E323A;
  color: white;
  border: none;
  box-shadow: inset 0 0 1px #000;
  font-weight: 400;
  border-radius: 1px;
}

.custom-pagination-container{
  overflow-x: auto;
  height: 36px;
  margin-top: 16px;
}

.leaderboard-pagination-container{
  overflow-x: auto;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.list-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 20px;
}
.hidden {
  display: none;
}

.leaderboard-pos-col{
  flex-basis: 20%;
}

.leaderboard-name-col{
  flex-basis: 30%;
}

.leaderboard-points-col{
  flex-basis: 20%;
}

.clickable-table-row{
  cursor: pointer;
  margin-bottom: 0 !important;
}

.zero-text{
  color: #5A5A5A;
}

.text-right {
  text-align: right;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


.page-link {
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 8px;
  background-color: transparent;
  color: white;
  border: none;
}

.page-link.active, .active > .page-link{
  background-color: #2CE3A6;
  border: none;
  color: #161819;
}
