
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: white !important;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.custom-icon {
  margin-left: 8px;
  vertical-align: middle;
}

  
  .table-fixed {
    table-layout: fixed;
  }
    
  .customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .table-col-id,
  .table-col-yes,
  .table-col-no,
  .table-col-status {
    width: 10%;
  }

  .table-col-detail {
    width: 60%;
  }

  #pitch-bg {
    background: url('pitch.png');
    background-size: cover;
    width: 100% !important;
    margin: 0 !important;
    height: auto;
    border: none !important;
    position: relative;
  }

  .small-text {
    font-size: 0.8rem;
  }

  .custom-card-title {
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
  }

  .custom-display-sm {
      font-size: 2rem; 
      font-weight: 300;
  }

  .custom-card-text {
      font-size: 0.9rem;
  }

  .white-text{
    color: whitesmoke !important;
  }
  
  .captain {
    border: 3px solid gold;
  }

  .summary-panel{
    background: linear-gradient(to bottom, #586AA8, #586AA8) !important;
    color: whitesmoke !important;
    border-color: whitesmoke !important;
    border-width: 0.1rem !important;
    border-style: solid !important;
  }

  .bonus-card-item{
    background: linear-gradient(to bottom, #67F5C9, #1E1436) !important;
    border-radius: 0.1rem !important;
    color: whitesmoke !important;
  }

  .save-panel{
    color: #A84025 !important;
  }
 
  .small-text-container {
      height: 100%;
  }

  .card.captain {
    background-color: #400042 !important;  /* Change this to the color you want */
    color: whitesmoke !important;
  }
  
  
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .warning-text {
    color:#A84025;
  }

  .list-group-item {
    color: whitesmoke !important;
  }
  

Table{
  color: whitesmoke !important;
}

.light-table{
  color: black !important;
}

.wallet-icon{
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.home-team-name {
  width: 25%;
  text-align: right;
}

.home-team-icon {
  width: 5%;
  text-align: center;
}

.v-symbol {
  width: 10%;
  text-align: center;
}

.away-team-icon {
  width: 5%;
  text-align: center;
}

.away-team-name {
  width: 25%;
}

.score {
  width: 15%;
  text-align: center;
}

.status {
  width: 15%;
  text-align: center;
}


.top10-num-col{
  width: 20%;
}

.top10-name-col{
  width: 50%;
}

.top10-name-large-col{
  width: 60%;
}

.top10-points-col{
  width: 20%;
}

.top10-button-col{
  width: 10%;
}

.table-col-yes,
.table-col-no,
.table-col-status {
  width: 10%;
}


.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.score-box {
  text-align: center;
  background-color: #C23E65;
  color: whitesmoke;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  border-radius: 0.2rem;
}

.score-box > p {
  margin: 0;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; 
}

.star {
  width: 1rem;
  height: 1rem;
}
.score-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; /* you can adjust this as needed */
}

.score-card-header img {
  flex-shrink: 0;
  margin-right: 1rem;
  display: block; 
  margin: 0; 
}

.score-card-header > div {
  display: flex;
  align-items: center;
}

.score-card-header > div > span {
  margin-right: 0.5rem;
}

.score-card-profile-pic {
  width: 2rem;
  margin: 0;
  display: block;
}

.col-right {
  text-align: right;
}

.points-team-col{
  width: 15%;
}

.points-name-col{
  width: 40%;
}

.points-points-col{
  width: 15%;
}

.points-button-col{
  width: 30%;
}

.points-description-col { width: 50%; }
.points-count-col { width: 25%; }
.points-value-col { width: 25%; }

.clear-button{
  background-color: transparent !important; 
}

.cleared-text{
  color: #C23E65 !important;
}

.saved-text{
  color: #67F5C9 !important;
}

.saved-text{
  color: #67F5C9 !important;
}

.player-score-top-row{
  border-color: transparent;
}

.team-details {
  margin-top: 15px;
}

.team-details h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.team-label {
  font-weight: bold;
  margin-right: 10px;
}

.player-group {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.footer-link{
  font-size: 10px;
}
