@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    font-family: 'Comfortaa', sans-serif !important;
    background: linear-gradient(to bottom, #000000, #310480);
    transition: background ease-in-out 300ms, color ease-in-out 150ms, padding ease-in-out 150ms;
    color: whitesmoke !important;
  }
  