
/*
//purple #895BF5 (137,91,245,96)
//peach #F5A28C (245,162,140,96)
//light purple #9A73F6 (154,115,246,96)
//brown #F5EA5B (245,234,91,96)
//seafoam #67F5C9 (103,246,201,96)


*/


@font-face {
    font-family: 'Chakra Petch';
    src: url('Chakra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Chakra Petch', sans-serif !important;
    background: linear-gradient(to bottom, #67F5C9, #895BF5);
    transition: background ease-in-out 300ms, color ease-in-out 150ms, padding ease-in-out 150ms;
  }
  
  .table-fixed {
    table-layout: fixed;
  }



  .social-icon {
    width: 32px;
    height: 32px;
    margin: 0 10px;
  }

  .nav-link-brand {
    color: whitesmoke !important;
  }


  .custom-nav-link {
    margin-right: 8px;
    vertical-align: middle;
  }


  .custom-icon {
    margin-left: 8px;
    vertical-align: middle;
  }

  .footer-links {
    list-style-type: none;
    padding: 0;
    font-size: 0.8rem;
  }

  footer{
    color: whitesmoke !important;
  }
  
  .footer-links li {
    line-height: 1.6;
  }

  a{
    color:whitesmoke !important;
  }
    
  .customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
